@import "../../styles/constants";

.btn-container {
    padding: 5px 30px;
    background-color: $cr-cyan-900;
    border-radius: 6px;
    color: $cr-cyan-400;
    font-size: 18px;
    cursor: pointer;
    
    &:hover {
    background-color: $cr-cyan-800;
    color: $cr-cyan-900;
    flex-wrap: wrap;
    }
}