@import "constants";

*,*::before,*::after {
    font-family: $pr-font;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $cr-cyan-500;
} 

.main-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;

    .box-container {
        padding: 28px 25px;
        border-radius: $radius-1;
        background-color: $white;
        // width: 500px;
        display: flex;
        justify-content: center;
        gap: 25px;
        
        .calculation-side {
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;
            .text {
                color: $cr-cyan-700;
            }
            
            .tip-btns {
                /* display: flex;
                justify-content: center;
                gap: 10px; */
                display: grid;
                gap: 10px;
                grid-template-columns: 100px 100px 100px;
            }
        }
        
        .result-side {
            .top-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 10px;
            }
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            padding: 25px 25px;
            border-radius: $radius-1;
            background-color: $cr-cyan-900;
        }
    }

}

@media screen and (max-width: 800px) {
    .box-container {
        flex-direction: column;

    }
    .tip-btns {
        
        grid-template-columns: 150px 150px !important;
    }
}